In [1]:
#Dependencies
import pandas as pd
import gmaps
import requests
from config import gkey

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-02-03 18:02:50,22.0752,-159.3190,71.92,65,20,11.50
1,1,Vaini,TO,2022-02-03 18:04:50,-21.2000,-175.2000,71.76,100,20,2.30
2,2,Tasiilaq,GL,2022-02-03 18:06:32,65.6145,-37.6368,14.16,58,56,7.31
3,3,Llanes,ES,2022-02-03 18:06:33,43.4198,-4.7549,54.90,83,100,1.43
4,4,Atuona,PF,2022-02-03 18:03:03,-9.8000,-139.0333,78.35,70,24,17.74

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmpas to use google API key
gmaps.configure(api_key=gkey)

In [5]:
#1. Assign the locations to an array of latitude and longitude paires.
#locations = [latitude, longitude]

#2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

#3. Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()

#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#5. Add the heatmap layer
#fig.add_layer(heatmap_layer)

#6. Call the figure to plot the data
#fig

In [6]:
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
#Heatmap of temperature
#Get the lat and lng
locations = city_data_df[['Lat', 'Lng']]

#Get the maximum temperature.


#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable.

heatmap_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heatmap_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of humidity
#Get the lat and lng
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

#Get the maximum temperature.


#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable.

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heatmap_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Heatmap of cloudiness
#Get the lat and lng
locations = city_data_df[['Lat', 'Lng']]
cloudiness = city_data_df['Cloudiness']

#Get the maximum temperature.


#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable.

heatmap_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heatmap_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Heatmap of wind speed
#Get the lat and lng
locations = city_data_df[['Lat', 'Lng']]
wind_speed = city_data_df['Wind Speed']

#Get the maximum temperature.


#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable.

heatmap_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heatmap_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2022-02-03 18:03:03,-9.8000,-139.0333,78.35,70,24,17.74
9,9,Rikitea,PF,2022-02-03 18:06:35,-23.1203,-134.9692,77.36,77,100,14.41
10,10,Bengkulu,ID,2022-02-03 18:06:35,-3.8004,102.2655,76.17,91,100,5.30
21,21,Vila Velha,BR,2022-02-03 18:06:39,-20.3297,-40.2925,77.95,87,75,9.22
22,22,Norsup,VU,2022-02-03 18:05:24,-16.0667,167.3833,80.10,85,85,4.43

In [44]:
preferred_cities_df.notnull().sum()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4            Atuona      PF     78.35  -9.8000 -139.0333
9           Rikitea      PF     77.36 -23.1203 -134.9692
10         Bengkulu      ID     76.17  -3.8004  102.2655
21       Vila Velha      BR     77.95 -20.3297  -40.2925
22           Norsup      VU     80.10 -16.0667  167.3833
25           Avarua      CK     78.85 -21.2078 -159.7750
29  Bambous Virieux      MU     80.22 -20.3428   57.7575
31     Richards Bay      ZA     79.38 -28.7830   32.0377
33            Birao      CF     80.26  10.2849   22.7882
37       Butaritari      KI     80.02   3.0707  172.7902

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [70]:
hotel_df.dropna(subset=['Hotel Name'])

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,78.35,-9.8000,-139.0333,Villa Enata
9,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
10,Bengkulu,ID,76.17,-3.8004,102.2655,Grage Hotel Bengkulu
21,Vila Velha,BR,77.95,-20.3297,-40.2925,Quality Suites Vila Velha
22,Norsup,VU,80.10,-16.0667,167.3833,Nabelchel Bungalows
...,...,...,...,...,...,...
561,Manaus,BR,86.50,-3.1019,-60.0250,Manaus Hotéis Millennium
566,Saint-Pierre,RE,80.24,-21.3393,55.4781,Lindsey Hôtel
568,Antsohihy,MG,75.16,-14.8796,47.9875,Hotel de Ville
571,Quelimane,MZ,82.35,-17.8786,36.8883,Hotel Flamingo
573,Ejura,GH,88.65,7.3856,-1.3562,Fire Servece

In [71]:
hotel_df.count()

City          165
Country       165
Max Temp      165
Lat           165
Lng           165
Hotel Name    165
dtype: int64

In [72]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [74]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [75]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))